
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url('../../images/bg-img/27.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="page-title">Giới thiệu</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Home", "Ruou")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- What We offer Area Start -->
<section class="what-we-offer-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Tổng quan</p>
                    <h4>Louis's Wine</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img style="width:120px; height:120px" src="~/images/core-img/icon.png" />
                    </div>
                    <h5>Lịch sử</h5>
                    <p style="font-family:sans-serif">Thành lập vào năm 1998 và không ngừng phát triển đến ngày nay</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img style="width:120px; height:120px" src="~/images/core-img/icon-2.jpg" />
                    </div>
                    <h5>Mục tiêu</h5>
                    <p style="font-family:sans-serif">Trở thành nhà phân phối rượu có uy tín và chất lượng nhất</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img style="width:120px; height:120px" src="~/images/core-img/icon-3.png" />
                    </div>
                    <h5>Cơ hội</h5>
                    <p style="font-family:sans-serif">Người sành rượu luôn biết cách thưởng thức các loại rượu ngon</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img style="width:120px; height:120px" src="~/images/core-img/icon-4.png" />
                    </div>
                    <h5>Slogan</h5>
                    <p style="font-family:sans-serif">Bữa ăn ngon cần đồ uống ngon và không có cái nào ngon bằng Louis's</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- What We offer Area End -->
<!-- About Us And Countdown Area Start -->
<section class="about-us-countdown-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row align-items-center">
            <!-- About Content -->
            <div class="col-12 col-md-6">
                <div class="about-content-text mb-80">
                    <h6 style="font-family:Arial; font-weight:bold" class="wow fadeInUp" data-wow-delay="300ms">Về Louis's Wine</h6>
                    <h3 class="wow fadeInUp" data-wow-delay="300ms">Chào mừng đến với Louis's Wine</h3>
                    <p style="font-family:Arial" class="wow fadeInUp" data-wow-delay="300ms">Louis's Wine là thiên đường của các loại rượu nổi tiếng trên thế giới. Những người có đam mê với thức uống sang trọng này đến với Louis's Wine để thỏa sức mua sắm các loại rượu ưa thích. Rượu ở Louis's Wine ngoài dùng trong các bữa tiệc lớn, còn có thể dùng như một món quà sang trọng dành tặng cho bạn bè.</p>
                    <a style="font-family:Arial; font-weight:bold" href="@Url.Action("GioiThieu", "Ruou")" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Khám phá <i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>

            <!-- About Thumb -->
            <div class="col-12 col-md-6">
                <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                    <img style="height:540px; width:540px" src="~/images/bg-img/2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Counter Up Area -->
    <div class="countdown-up-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-3">
                    <!-- Countdown Text -->
                    <div class="countdown-content-text mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6>Sự kiện sắp diễn ra</h6>
                        <h4>Triển lãm rượu & đồ uống có cồn Vinexpo Bordeaux</h4>
                    </div>
                </div>

                <div class="col-12 col-md-9">
                    <div class="countdown-timer mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div id="clock"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us And Countdown Area End -->
