<a style="font-family:Arial; font-weight:bold" href="@Url.Action("GioHang", "GioHang")" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
    Giỏ hàng (@ViewBag.Tongsoluong) 
    <i class="zmdi zmdi-long-arrow-right"></i>
</a>
