
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url('../../images/bg-img/37.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="page-title">Xác nhận đơn hàng</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Xacnhandonhang", "GioHang")">Xác nhận</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Xác nhận đơn hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<section class="our-schedule-area bg-white section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="height:300px" class="single-schedule-area single-page d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                    <div class="single-schedule-tumb">
                        <p><img style="width:200px; height:200px" src="~/images/bg-img/11.png" /></p>
                    </div>

                    <div style="width:800px" class="single-schedule-tumb">
                        <p style="font-weight:bold; font-size:40px; font-family:Arial">Xác nhận đơn hàng</p>                        
                        <p style="font-size:20px">
                            Đơn hàng của quý khách đã được chúng tôi ghi nhận.
                            Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
